$color_white: white;
$color-innroad: rgb(22, 93, 147);

@mixin theme-background-color-innroad {
  background-color: $color-innroad;
}

.month-header {
  @include theme-background-color-innroad;
  padding: 10px;
}

.Container {
  border: 1px solid rgb(22, 93, 147);
  min-height: 650px;
  margin: 0% 4% 0% 4%;
}

.Container table {
  float: left;
  width: 100%;
  min-height: 600px !important;
}
