.calender-row {
  padding: 10px;
  color: rgb(0, 0, 0);
}

.calender-col {
  padding: 10px;
  color: rgb(22, 93, 147);
  width: 40px;
  font-weight: 500;
}

.isDates-grey {
  color: rgb(220, 208, 208);
}

.Container-heading {
  margin-top: 2%;
  color: rgb(22, 93, 147);
}

.month-name {
  color: white;
}
.month-header {
  background-color: rgb(22, 93, 147);
}

.calender-date {
  color: rgb(22, 93, 147);
  font-weight: 900;
}

.event-detail-wrapper {
  background: rgb(116, 170, 211);
  color: white;
}
